<h3>Create Page</h3>
<a href="/user/">Back to profile</a>
<form action='/page' method='POST'>
    <fieldset>
        <legend>New Page Details</legend>
        <div>
            <label>
                <span>Name:</span>
                <input type='text' name='name' required max=64 />
            </label>
        </div>
        <div>
            <label>
                <span>Description:</span>
                <input type='text' name='description' max=248 />
            </label>
        </div>
        <div class="error">{error}</div>
        <div class="flex around">
            <button type='submit'>Create</button>
        </div>
    </fieldset>
</form>