<h1 class="welcome">Welcome to the <i>Digitheque</i>!</h1>
<h3 class="byline">A new social network allowing people to help eachother explore the internet.</h3>
<section class="index">
    <p class="error">{message}</p>
    <h6>What do we do different?</h6>
    <p>Well the core driver of the network is exploration. The Digitheque is unlike a
        traditional social media network where the driver is interaction.</p>
    <ul>
        <li><a href="/user/logout">Log out if you want</a></li>
        <li><a href="/user">Check out your profile</a></li>
    </ul>
</section>