<section>
    <h1 class="welcome">Welcome to the <i>Digitheque</i>!</h1>
    <h3 class="byline">A new social network allowing people to help eachother explore the internet.</h3>
    <ul>
        <li><a href="/user/signup">Sign up to get started</a></li>
    </ul>
    <p class="error">{message}</p>
</section>
<div class="home-info">
    <section class="card">
        <h6>What do we do different?</h6>
        <p>Well the core driver of the network is exploration. The Digitheque is unlike a
            traditional social media network where the driver is interaction.</p>
    </section>
    <section class="card">
        <h6>How do I use it?</h6>
        <p>The app is designed to be as easy as possible to use. There are two main concepts: the Link and the Page.
            A user can have many pages. A page can have at most 10 links. If you and another user have a page with the
            same link, you can see their page.
            That is it; no comments, no statuses, you will not even be able to see who owns that page.
        </p>
    </section>
</div>
{background}