<ul class="home">
    <li class="yellow-neubrutalist-card">
        <div class="home-title">
            <h1 class="welcome">Explore the internet through a new lens</h1>
            <h3 class="byline"><i>A traversable, web-based network of websites and pages for exploring the internet in a
                    new manner.</i></h3>
            <p class="error">{message}</p>
            <ul>
                <li>
                    <a href="/user/signup" class="normalize button-link cta">Get started</a>
                </li>
            </ul>
        </div>
    </li>
    <li data-sal="zoom-in" class="big-image-right">
        <img src="/img/dithers/santchapel_dithered.png" class="vertical" />
    </li>
    <li class="neubrutalist-card">
        <div>
            <h4>What is the Digitheque?</h4>
            <p>The name digitheque is a portmanteau of the words <i>digital</i> and <i>bibliotheque</i>.
                We are trying to develop a different type of search engine for resources and tools on the internet.
                Traditional search engines like Google are more direct, having the user query what their are looking
                for.
            </p>
        </div>
    </li>
    <li data-sal="zoom-in">
        <img src="/img/dithers/menton_dithered.png" class="horizontal" />
    </li>
    <li data-sal="zoom-in" class="neubrutalist-card">
        <div>
            <h4>How does it work?</h4>
            <p>The Digitheque is fundamentally different. Users build up groups of bookmarked links. On each link, you
                can explore all of the groups it belongs to; this includes other user's groups. A network starts to
                form.</p>
            <p>
                There is no searching. This promotes sharing links that users are interested in exploring. When you
                stumble across another user's group, it most likely contains something interesting in one way or
                another.
            </p>
        </div>
    </li>
    <li data-sal="zoom-in" class="neubrutalist-card">
        <div>
            <h4>Why make another social network?</h4>
            <p>It is apparent that people are upset with the state of the internet. Siloed,
                proprietary platforms that push to maximize engagement are central to corporate monetization
                strategies. These proprietary platforms are also directly in competition with the
                core principles of the internet. In order to do my part in the fight against the monopolization
                of the internet (as well as people's attention), we have developed the Digitheque.
            </p>
        </div>
    </li>
    <li data-sal="zoom-in" class="">
        <img src="/img/dithers/giverny_dithered.png" class="horizontal" />
    </li>
    <li data-sal="zoom-in" class="">
        <img src="/img/dithers/sevilla_dithered.png" class="horizontal" />
    </li>
    <li data-sal="zoom-in" class="neubrutalist-card">
        <div>
            <h4>What do we do different?</h4>
            <p>Well the core driver of the network is exploration. The Digitheque is unlike a
                traditional social media network where the driver is interaction.</p>
        </div>
    </li>
</ul>
{background}