<div class="crumbs"><a href="/user">{user.username}</a> | <a href="/link/{link.id}">{link.url}</a></div>
<div class="page">
    <div class="yellow-neubrutalist-card margin-bottom text-card">
        <h4 class="page-title">Explore new groups</h4>
        <div class="page-link">
            <img src="{link.img_url}" class="link-banner" alt="banner"
                onerror="if (this.src != '/seo/android-chrome-192x192.png') this.src = '/seo/android-chrome-192x192.png';" />
            <div>
                <a href="{link.url}" target="_blank" class="external fit-content">
                    <h4>
                        <img src="{link.favicon}" alt="{link.name}" class="favicon"
                            onerror="if (this.src != '/favicon.ico') this.src = '/favicon.ico';" />
                        {link.title}
                    </h4>
                </a>
                <h6>{link.description}</h6>
            </div>
        </div>
        <p>These are all the groups that contain this link. Find out what else people have been bookmarking.</p>
        {add-to-my-page-form}
    </div>
    <ul class="page-list">
        {pages}
    </ul>
</div>
{background}