<section class="login single-form">
    <h6>Login Form</h6>
    <form action='/user/login' method='POST'>
        <fieldset class="login-fields">
            <legend>User Credentials</legend>
            <a href='/user/signup'>Need an account?</a>
            <label>
                <span>Username:</span>
                <input type='text' name='username' required max=48 />
            </label>
            <label>
                <span>Password:</span>
                <input type='password' name='password' max=48 />
            </label>
            <div class="error">{error}</div>
            <button type='submit' class="button-link">Login</button>
        </fieldset>
    </form>
</section>
{background}