<form action='/user/login' method='POST' class="centered">
    <fieldset>
        <legend>Login Credentials</legend>
        <div>
            <label>
                <span>Username:</span>
                <input type='text' name='username' required max=48 />
            </label>
        </div>
        <div>
            <label>
                <span>Password:</span>
                <input type='password' name='password' max=48 />
            </label>
        </div>
        <div class="flex around">
            <button type='submit'>Login</button>
        </div>
        <a href='/user/signup'>Need an account?</a>
    </fieldset>
</form>