<div class="item page-title">
    <h2>{page.name}</h2>
    <p>{page.description}</p>
</div>
<div class="item">
    <h4>Links</h4>
    <dl>
        {links}
    </dl>
</div>
<div class="item">
    <form action='/page/{page.id}/link' method='POST'>
        <fieldset>
            <legend>New Link</legend>
            <div>
                <label>
                    <span>Name:</span>
                    <input type='name' name='name' required max=48 />
                </label>
            </div>
            <div>
                <label>
                    <span>URL:</span>
                    <input type='url' name='url' required max=2048 />
                </label>
            </div>
            <button type='submit'>Submit</button>
        </fieldset>
    </form>
</div>