<div class="crumbs"><a href="/user">{user.username}</a> | <a href="/page/{page.id}">{page.name}</a></div>
<div class="page-authenticated">
    <div class="page-title green-neubrutalist-card text-card">
        <h3>{page.name}</h3>
        <p>{page.description}</p>
    </div>
    <section class="new-link neubrutalist-card">
        <h6>Add new link</h6>
        <form action='/page/{page.id}/link' method='POST'>
            <fieldset>
                <legend>Link details</legend>
                <div>
                    <label>
                        <span>Name:</span>
                        <input type='name' name='name' required max=48 />
                    </label>
                </div>
                <div>
                    <label>
                        <span>URL:</span>
                        <input type='url' name='url' required max=2048 />
                    </label>
                </div>
                <div class="error">{error}</div>
                <button type='submit' class="button-link">Create</button>
            </fieldset>
        </form>
    </section>
</div>
<ul class="links authenticated">
    {links}
</ul>
{background}