<div class="crumbs">
    <a href="/user">{user.username}</a>
</div>
<div class="page-authenticated">
    <div class="page-title blue-neubrutalist-card text-card">
        <h3>Your pages</h3>
        <p>Use these pages to organize your bookmarked links. A page will visible to users who have bookmarked the same
            link as you.</p>
    </div>
    <section class="create-page neubrutalist-card">
        <h6>Create new page</h6>
        <form action='/page' method='POST'>
            <fieldset>
                <legend>Page details</legend>
                <div>
                    <label>
                        <span>Name:</span>
                        <input type='text' name='name' required max=64 />
                    </label>
                </div>
                <div>
                    <label>
                        <span>Description:</span>
                        <input type='text' name='description' required max=248 />
                    </label>
                </div>
                <div class="error">{error}</div>
                <button type='submit' class="button-link">Create</button>
            </fieldset>
        </form>
    </section>
</div>
<ul class="page-list authenticated">
    {pages}
</ul>
{background}