<form action='/user/signup' method='POST' class="centered">
    <fieldset>
        <legend>Signup Credentials</legend>
        <div>
            <label>
                <span>Username:</span>
                <input type='text' name='username' required max=48 />
            </label>
        </div>
        <div>
            <label>
                <span>Password:</span>
                <input type='password' name='password' max=48 />
            </label>
        </div>
        <div>
            <label>
                <span>Confirm Password:</span>
                <input type='password' name='confirm_password' max=48 />
            </label>
        </div>
        <div class="flex around">
            <button type='submit'>Signup</button>
        </div>
        <a href='/user/login'>Already have an account?</a>
    </fieldset>
</form>