<section class="signup">
    <h6>Signup Form</h6>
    <form action='/user/signup' method='POST'>
        <fieldset class="signup-fields">
            <legend>User Credentials</legend>
            <a href='/user/login'>Already have an account?</a>
            <label>
                <span>Username:</span>
                <input type='text' name='username' required max=48 />
            </label>
            <label>
                <span>Password:</span>
                <input type='password' name='password' max=48 />
            </label>
            <label>
                <span>Confirm Password:</span>
                <input type='password' name='confirm_password' max=48 />
            </label>
            <div class="error">{error}</div>
            <button type='submit' class="button-link">Signup</button>
        </fieldset>
    </form>
</section>
{background}