@font-face {
  font-family: "EditorialNew";
  src: url("./PPEditorialNew.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("./PPEditorialNew-Italic.ttf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("./AkzidenzGrotesk.woff2");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("./AkzidenzGrotesk-Italic.woff2");
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "AkzidenzGrotesk", sans-serif;
  margin: 0;
  color: #000;
  /* background-image: -webkit-linear-gradient(45deg, #ffb300 50%, #ffffff 50%); */
  height: 100vh;
}

.content {
  height: 86vh;
  overflow-y: scroll;
  padding-left: 4rem;
  padding-right: 1rem;
}

main {
  /* padding-top: 1rem; */
}

.error {
  color: #EE352E;
}

.title {
  font-size: 48px;
  margin: 0;
}

.title a {
  text-decoration: none;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  background-color: white;
}

.welcome {
  font-size: 2rem;
  padding-left: 0rem;
  line-height: 1.5;
}

.welcome i {
  font-size: 2.5rem;
}

.byline {
  padding-left: 0rem;
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.4;
  font-weight: 100;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: normal;
}

h6 {
  font-size: 1.25rem;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  max-width: 500px;
}

.home-actions ul {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.home-actions ul li {
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #ffffffee;
  width: fit-content;
  padding: 0.5rem;
}

.home {
  display: grid;
  column-gap: 2rem;
  row-gap: 3rem;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  width: 90%;
  justify-items: center;
}

.home-title {
  grid-row: 1;
  grid-column: 1;
  display: block;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.home-actions {
  grid-row: 1;
  grid-column: 2;
}

.home-one {
  grid-row: 2;
  grid-column: 1;
}
.home-one-two {
  grid-row: 2;
  grid-column: 2;
}

.home-two {
  grid-row: 3;
  grid-column: 2;
}

.home-three {
  grid-row: 4;
  grid-column: 1;
}

.home-four {
  grid-row: 5;
  grid-column: 2;
}

.home-five {
  grid-row: 6;
  grid-column: 1;
}

.card {
  background-color: #454545ee;
  color: white;
  border-radius: 5px;
  width: fit-content;
  margin: 1rem;
  padding: 0.25rem;
}

.card div {
  border: 1.5px dotted white;
  border-radius: 5px;
  padding: 2rem;
  max-width: 450px;
}

form {
  width: min-content;
  padding: 0.5rem;
  border-radius: 5px;
}

fieldset {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border: 1.5px dashed black;
  border-radius: 5px;
  padding: 1rem 2rem;
}

fieldset label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.25rem;
}

fieldset input {
  border: none;
  background-color: inherit;
  border-bottom: 1.5px dashed black;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

fieldset button {
  display: flex;
  align-self: center;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: inherit;
  width: fit-content;
}

.button-link {
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  margin: 1.5px;
  border: none;
}

button[type=submit] {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid currentColor;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

fieldset a {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

a:visited {
  color: currentColor;
}

.normalized {
  color: currentColor;
}

.favicon {
  width: 20px;
  height: 20px;
}

.favicon:before {
  content: ' ';
  display: block;
  position: absolute;
  background-image: url(/favicon.ico);
}

li {
  list-style-type: none;
  display: flex;
}

.explore {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1.5px dashed black;
  border-radius: 5px;
  width: fit-content;
  text-decoration: none;
}

ul.actions {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul.actions li:first-child {
  margin-right: 1rem;
}

ul.actions li {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.neubrutalist-card {
  background-color: #ffffffee;
  border-radius: 5px;
  max-width: 900px;
  padding: 2rem;
  border: 3px solid black;
  box-shadow: -3px 4px 0px 1px black;
}

.blue-neubrutalist-card {
  background-color: #0008ff;
  border-radius: 5px;
  max-width: 900px;
  color: white;
  padding: 2rem;
  border: 3px solid black;
  box-shadow: -3px 4px 0px 1px black;
}

.yellow-neubrutalist-card {
  background-color: #fccc0a;
  border-radius: 5px;
  max-width: 900px;
  color: black;
  padding: 2rem;
  border: 3px solid black;
  box-shadow: -3px 4px 0px 1px black;
}

.green-neubrutalist-card {
  background-color: #2a9400;
  border-radius: 5px;
  max-width: 900px;
  color: white;
  padding: 2rem;
  border: 3px solid black;
  box-shadow: -3px 4px 0px 1px black;
}

.white-card {
  background-color: #ffffffee;
  border-radius: 5px;
  max-width: 900px;
  padding: 2rem;
}

.dark-card {
  background-color: #454545ee;
  border-radius: 5px;
  color: white;
  max-width: 900px;
  padding: 2rem;
}

.dark-card a:hover {
  color: #FCCC0A;
  /* color: #00933C; */
}

.page-link {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-link .link-banner {
  width: 30%;
  min-width: 300px;
  max-width: 700px;
  margin-left: 1rem;
}

.page-link div {
  max-width: 500px;
  margin-left: 2rem;
}

.delete {
  cursor: pointer;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.delete:hover {
  background-color: #EE352E;
  color: white;
  border-radius: 100px;
}

.page-authenticated {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.new-link, .create-page {
  margin: auto;
}

.page-title {
  margin-bottom: 2rem;
}

li.link-wrapper {
  display: flex;
  align-items: flex-start;
}

li .link {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/* li .link:hover {
  border: 5px solid #ffb300;
  box-shadow: 0px 0px 5px 2.5px #00ffd5, inset 0px 0px 1px #00ffd5;
  margin: 0px;
} */

li .link a.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

li .link .link-action {
  display: flex;
  justify-content: space-between;
}

ul.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
}

ul.authenticated {
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / 3;
}

a.external span::after {
  /* position: relative;
  content: "°";
  margin-left: 0.1em;
  font-size: 90%;
  top: -0.1em; */
}

.single-form {
  margin: auto;
  width: fit-content;
  margin-top: 10%;
}

ul.page-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  row-gap: 5rem;
  align-items: start;
  max-width: 900px;
}

/* ul.page-list li.page-list-item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
} */

ul.page-list li.authenticated {
  display: flex;
  align-items: flex-start;
}

ul.page-list li div {
  display: flex;
  flex-direction: column;
}

ul.page-list li a.page-link {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

ul.page-list li span {
  font-size: 1rem;
  max-width: 300px;
}

.crumbs {
  margin: 1rem;
  width: fit-content;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.crumbs a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.crumbs a:hover {
  color: white;
}

.link-page-title {
  font-size: 2.5rem;
}

.spaceous {
  margin: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-top {
  margin-top: 3rem;
}