@font-face {
  font-family: "EditorialNew";
  src: url("./PPEditorialNew.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EditorialNew";
  src: url("./PPEditorialNew-Italic.ttf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("./AkzidenzGrotesk.woff2");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("./AkzidenzGrotesk-Italic.woff2");
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "AkzidenzGrotesk", sans-serif;
  margin: 0;
  color: #000;
  /* background-image: -webkit-linear-gradient(45deg, #ffb300 50%, #ffffff 50%); */
  height: 100vh;
}

.content {
  height: 86vh;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  /* padding-top: 1rem; */
}

.error {
  color: rgb(255, 0, 0);
}

.title {
  font-size: 48px;
  margin: 0;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  background-color: white;
}

.welcome {
  font-weight: 200;
  font-size: 3rem;
  padding-left: 2rem;
}

.byline {
  font-weight: 700;
  padding-left: 1rem;
  font-size: 1.5rem;
  width: 400px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-left: 1rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  max-width: 500px;
}

.home-info {
  display: flex;
  justify-content: space-around;
}

section.card {
  background-color: #ffffffee;
  border-radius: 60px;
  width: fit-content;
  padding: 2rem;
  margin: 1rem;
}

form {
  background-color: #ffffffee;
  width: min-content;
  padding: 0.5rem;
  border-radius: 5px;
}

fieldset {
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1.5px dashed black;
  border-radius: 5px;
}

fieldset label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

fieldset input {
  border: none;
  border-radius: 5px;
  background-color: inherit;
  border: 1.5px dashed black;
  padding: 0.2rem 0.5rem;
}

fieldset button {
  display: flex;
  align-self: center;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: inherit;
  padding: 0.5rem;
  border: 1.5px dashed black;
  border-radius: 5px;
  width: fit-content;
}

fieldset a {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

a:visited {
  color: currentColor;
}

.normalized {
  color: currentColor;
  text-decoration: none;
}

.favicon {
  width: 20px;
  height: 20px;
}

li {
  list-style-type: none;
}

li.link-wrapper {
  display: flex;
  align-items: flex-start;
}

li .link {
  display: flex;
  background-color: #ffffffee;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 100px;
  margin: 5px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

li .link:hover {
  border: 5px solid #00ffd5;
  box-shadow: 0px 0px 5px 2.5px #00ffd5, inset 0px 0px 1px #00ffd5;
  margin: 0px;
}

li .link a.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

li .link .link-action {
  display: flex;
  justify-content: space-between;
}

ul.links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: 150px;
}

.explore {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1.5px dashed black;
  border-radius: 5px;
  width: fit-content;
  text-decoration: none;
}

ul.actions {
  display: flex;
  margin: 0;
  padding: 0;
}

ul.actions li:first-child {
  margin-right: 1rem;
}

ul.actions li {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.delete {
  cursor: pointer;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.delete:hover {
  background-color: red;
  color: white;
  border-radius: 100px;
}

.page-title {

}

.page-title h2 {
  font-size: 3rem;
}

.page-title p {
  font-size: 1.5rem;
  width: 500px;
}

a.external span::after {
  position: relative;
  content: "°";
  margin-left: 0.1em;
  font-size: 90%;
  top: -0.1em;
  color: rgb(153, 51, 51);
  font-feature-settings: "caps";
  font-variant-numeric: normal;
}

.external {
  text-decoration: none;
}

.signup, .login {
  margin: auto;
  width: fit-content;
  margin-top: 10%;
}

/* 
header {
  grid-row: 1/2;
}

.error {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.content {
  height: 85vh; 
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.title {
  font-size: 4rem;
  max-width: 500px;
  margin: auto;
  border: 1px solid currentColor;
}

a {
  color: currentColor;
  text-decoration: none;
}

.page-item {
  width: fit-content;
}

.page-title {
  height: fit-content;
}

.favicon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

form {
  width: 50%;
}

fieldset {
  border-radius: 3px;
  border: 4px double currentColor;
}

fieldset div {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

fieldset div label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.normalized,
a:visited.normalized {
  color: currentColor;
  text-decoration: none;
}

input {
  border: none;
  border-bottom: 1.25px solid currentColor;
  background-color: inherit;
  font-family: inherit;
}

button {
  border: 1.25px solid currentColor;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  border-radius: 3px;
  background-color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.5rem;
}

button:active {
  border: 1.25px solid currentColor;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
}

.centered {
  margin: auto;
}

h2 {
  font-size: 68px;
} */