@font-face {
  font-family: "EditorialNew";
  src: url("./PPEditorialNew.ttf");
}

@font-face {
  font-family: "EditorialNew";
  src: url("./PPEditorialNew-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("./AkzidenzGrotesk.woff2");
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("./AkzidenzGrotesk-Italic.woff2");
  font-style: italic;
}

body {
  font-family: "AkzidenzGrotesk", sans-serif;
  margin: 0;
  color: #000;
  background-image: -webkit-linear-gradient(45deg, #ffb300 50%, #ffffff 50%);
  height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
}

.error {
  color: rgb(255, 0, 0);
}
/* 
header {
  grid-row: 1/2;
}

.error {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.content {
  height: 85vh; 
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.title {
  font-size: 4rem;
  max-width: 500px;
  margin: auto;
  border: 1px solid currentColor;
}

.external::after {
  position: relative;
  content: "°";
  margin-left: 0.1em;
  font-size: 90%;
  top: -0.1em;
  color: rgb(153, 51, 51);
  font-feature-settings: "caps";
  font-variant-numeric: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

.page-item {
  width: fit-content;
}

.page-title {
  height: fit-content;
}

.favicon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

form {
  width: 50%;
}

fieldset {
  border-radius: 3px;
  border: 4px double currentColor;
}

fieldset div {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

fieldset div label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.normalized,
a:visited.normalized {
  color: currentColor;
  text-decoration: none;
}

input {
  border: none;
  border-bottom: 1.25px solid currentColor;
  background-color: inherit;
  font-family: inherit;
}

button {
  border: 1.25px solid currentColor;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  border-radius: 3px;
  background-color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.5rem;
}

button:active {
  border: 1.25px solid currentColor;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
}

.centered {
  margin: auto;
}

h2 {
  font-size: 68px;
} */